/* borrowed from https://codepen.io/ksksoft/pen/lsqEo */

.loading {
  display: flex;
  justify-content: center;
  line-height: 1.2;
}

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #657786 20%, #1ba1f2 40%, #1ba1f2 60%, #657786 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 2s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.circle{
	position: relative;
	top:10;
	left:0;
	width: 2em;
	height: 14em;
	animation: roll 2s infinite linear;
  animation-delay: -1.5s;
}
.top {
  transform-origin: center bottom 0;
}

.bottom {
  transform-origin: center top 0;
}

@keyframes roll {
	100% { 
    transform: rotateZ(1turn);
  }
}