/* borrowed from https://codepen.io/ksksoft/pen/lsqEo */

.loading {
  display: flex;
  justify-content: center;
  color: #1DA1F2;
}

.circle{
	position: relative;
	top:10;
	left:0;
	width: 2em;
	height: 14em;
	animation: roll 5s infinite linear;
}
.top {
  transform-origin: center bottom 0;
}

.bottom {
  transform-origin: center top 0;
}

@keyframes roll {
	100% { 
    transform: rotateZ(2turn);
  }
}