:root {
  --twitter-blue: #1da1f2;
  --twitter-black: #14171a;
  --twitter-dark-gray: #657786;
  --twitter-light-light-gray: #aab8c2;
  --twitter-light-extra-light-gray: #e1e8ed;
  --twitter-light-extra-extra-light-gray: #f5f8fa;
  --twitter-white: #ffffff;
  --twitter-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

.player {
  background-color: white;
  color: var(--twitter-dark-gray);
  /* border: 1px solid var(--twitter-blue); */
  font-size: 1em;
}

.btn.player:hover {
  background-color: #ecf5fe;
  color: var(--twitter-blue);
  /* border: 1px solid var(--twitter-blue); */
  font-size: 1em;
  border-radius: 100px;
  transition: 0.3s;
}

.mode-list {
  display: flex;
}

.VC-list {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  /* border: 1px grey solid; */
  /* border: hidden; */
}

#VC-drawer {
  width: 61%;
  /* height: 290px; */
}

#transcript-header img {
  margin-right: 5px;
}

#VC-header-hideToggle .fas {
  margin-right: 8px;
  /* color: #1da1f2; */
}

/* #toggle-icon {
  outline: none;
} */

#transcript-container {
  display: flex;
}

#transcript {
  font-size: 26px;
  word-wrap: break-word;
  overflow: hidden;
  direction: rtl;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#transcript-text {
  text-align: left;
  width: 75%;
  margin-left: 2%;
  word-wrap: break-word;
  overflow: hidden;
  direction: rtl;
  white-space: nowrap;
  position: relative;
  left: 0px;
}

#VC-header-hideToggle {
  display: flex;
  justify-content: space-between;
}

#toggle-VCs {
  border: none;
  background-color: white;
  font-size: 18px;
  color: #1da1f2;
  outline: none;
  /* color: var(--twitter-blue); */
}

#transcript-header {
  display: flex;
  font-size: 26px;
}

#header-logo a {
  text-decoration: none;
}

#auth-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background-color: white;
  width: 100%;
  min-height: 93vh;
}

#auth-image {
  display: flex;
  justify-content: center;
  /* height: 600px; */
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 35%;
}

#auth-image img {
  width: 100%;
  height: auto;
}

#auth-header-text {
  font-size: 44px;
  font-weight: bolder;
  color: #11364d;
  margin-top: 2%;
  margin-bottom: 2%;
}

#header-top-sign-in {
  transform: scale(1.35, 1.35);
}

#header-top-log-out {
  transform: scale(1.35, 1.35);
  margin-left: 30px;
}

#auth-options a {
  text-decoration: none;
}

#auth-header-text span {
  /* font-style: italic; */
  /* text-decoration-line: underline;
  text-decoration-style: wavy; */
  /* background-color: #1da1f2;
  color: white; */

  /* color: #1da1f2; */
  /* text-decoration: underline; */
}

@keyframes wavy-slide {
  to {
    margin-left: -51%;
  }
}

#auth-list {
  display: flex;
  justify-content: space-around;
  /* margin-top: 3%; */
  /* margin-bottom: 3%; */
  color: #11364d;
}

#auth-options {
  margin-top: 20px;
  margin-bottom: 20px;
}

button.auth {
  font-size: 1.3em;
}

#auth-options button {
  /* width: 20%;
  height: 10%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15%;
  background-color: white;
  border: 2px solid #1da1f2;
  border-width: thick;
  padding: 4px 30px;
  font-weight: bold;
  color: #11364d; */
}

#auth-options button:hover {
  background-color: #1da1f2;
}

.invisible {
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.3s ease-in;
  overflow: hidden;
}

.settingsComponent {
  margin: 10px;
  border: 1px solid var(--twitter-light-light-gray);
  border-radius: 11px;
  width: 56%;
  padding: 29px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 45px;
  background-color: white;
  display: none;
}

.drawer {
  border: 1px solid var(--twitter-light-light-gray);
  border-radius: 11px;
  background-color: white;
  margin: 10px;
  padding: 29px;
  /* display: block; */
  transition: 0.3s ease-in;
  overflow: hidden;
}

#doneButton {
  margin-top: 15px;
}

.voiceDiv {
  display: inline-grid;
}

.speechComponent {
  margin-top: 12px;
  margin-bottom: 12px;
}

.App {
  text-align: center;
  font-family: var(--twitter-font);
  background-color: var(--twitter-light-extra-extra-light-gray);
}

body {
  background-color: var(--twitter-light-extra-extra-light-gray);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 1px solid var(--twitter-light-extra-light-gray); */
  padding-bottom: 20px;
  /* position: fixed; Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* background-color: var(--twitter-light-extra-light-gray); */
  opacity: 1;
  background-color: #347ab8;
  background-image: url("./sound_wave_fade.svg"),
    linear-gradient(#347ab8, var(--twitter-blue) 95%);
  /* background-repeat: repeat-x; */
  border-radius: 0 0 30px 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(143, 112, 112, 0.12);
}

div#auth-container {
  /* height: 100vh; */
  background-color: transparent;
}

/* h1.nav {
  display: inline-block;
  color: white;
  background: linear-gradient(#1da1f2 0 0) left / var(--d, 0%) 100% no-repeat;
  transition: 0.5s;
}

h1.nav:hover {
  display: inline-block;
  color: white;
  --d: 100%;
  border-radius: 4px;

  /* color: #fff; */

/* } */

h1.nav {
  color: white;
  display: flex;
  align-items: center;
}

h1.nav > .fa-volume-up {
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, #f2991d, #f2991d 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
/* shoutout to @t_afif for this hover effect */
h1.nav:hover > .fa-volume-up {
  background-position: 0 100%;
}

.signInOrOut {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.sign-in-button {
  font-size: 1em;
  margin-top: 1em;
}

button.logout {
  font-weight: 700;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: var(--twitter-blue);
}

button.modeButton {
  font-size: 0.7em;
  background-color: var(--twitter-blue);
  margin: 5px;
}

.fas {
  margin-right: 5px;
}

.individualTweet {
  width: 30% !important;
  /* display: contents; */
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  transition: 1s;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.individualTweet > div > div > div > iframe {
  border-radius: 3.5%;
  /* ! added border radius to fix whitespace */
}

.individualTweet:nth-last-child(2) > div > div > div > iframe {
  /* selects the second tweet always */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(143, 112, 112, 0.12);
    /* !transition causes conflict with left/right carousel transitions */
  /* transition: 0.3s; */
}

.btn-toolbar.mb-3.speechComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--twitter-blue);
  border: 1px solid var(--twitter-light-light-gray);
  border-radius: 11px;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin: 5px;
}

.left-transition {
  opacity: 1;
  animation-name: fadeInOpacityLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  transition: 1s;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInOpacityLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

/* @keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.animateOut{
  animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}
.animateIn{
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
} */

.tweetComponent {
  /* width: 100% !important; */
  width: 90%;
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: 5em;
  overflow: hidden; /* Hide scrollbars */

  /* max-width: fit-content; */
  /* margin-top: 81px; Add a top margin to avoid content overlay */
  /* transition: 1s; */
}

/* conditionally applied when the last tweet in the carousel is being read */
.left-justify{
  justify-content: flex-start !important;
}

/* The next two blocks are conditionally applied when the last tweet in the carousel is being read */
.left-justify > .individualTweet:nth-last-child(2) > div > div > div > iframe {
  box-shadow:
  0 0 0 rgba(0, 0, 0, 0.034),
  0 0 0 rgba(0, 0, 0, 0.048),
  0 0 0 rgba(0, 0, 0, 0.06),
  0 0 0 rgba(0, 0, 0, 0.072),
  0 0 0 rgba(0, 0, 0, 0.086),
  0 0 0 rgba(143, 112, 112, 0.12);
}

.left-justify > .individualTweet:nth-last-child(1) > div > div > div > iframe {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(143, 112, 112, 0.12);
}

h1 {
  color: var(--twitter-blue);
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: list-item;
  text-align: left;
  list-style-type: none;
}
li:before {
  content: "✓";
  margin-left: -20px;
  margin-right: 10px;
}

.VC-list li::before {
  content: "▸";
}

#auth-list li::before {
  content: "✓";
  color: #1da1f2;
}

#auth-list li {
  margin-bottom: 20px;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */ /*! what does this line do? can we get rid of it? it causes weird popping in and out*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--twitter-dark-gray);
  overflow: hidden; /* Hide scrollbars */
}

.App-link {
  color: #61dafb;
}

.player.focus,
.player:focus,
.player:hover {
  color: var(--twitter-blue);
  text-decoration: none;
  background-color: #ecf5fe;
  color: var(--twitter-blue);
}
@media only screen and (max-width: 980px) {
  .tweetComponent {
    width: 980px;
    overflow-y: auto;
  }

  #VC-drawer {
    width: 90%;
  }
}
@media only screen and (max-width: 540px) {
  h1 {
    font-size: 1.4em;
  }

  .btn {
    font-size: 0.5em;
  }

  .player {
    font-size: 1em;
  }
}

@media only screen and (min-width: 540px) {
  /* .tweetComponent {
    width: 90%;
  } */

  div[twdiv="yes"] {
    width: 100% !important;
    text-align: -webkit-center;
  }

  .twitter-tweet {
    width: 100% !important;
  }
}
