:root {
  --twitter-blue: #1da1f2;
  --twitter-black: #14171a;
  --twitter-dark-gray: #657786;
  --twitter-light-light-gray: #aab8c2;
  --twitter-light-extra-light-gray: #e1e8ed;
  --twitter-light-extra-extra-light-gray: #f5f8fa;
  --twitter-white: #ffffff;
  --twitter-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

.player {
  background-color: white;
  color: var(--twitter-blue);
  border: 1px solid var(--twitter-blue);
  font-size: 1em;
}

.mode-list {
  display: flex;
}

.VC-list {
  display: flex;
  font-size: 24px;
}

#VC-drawer {
  width: 700px;
  height: 290px;
}

#transcript-container {
  display: flex;
}

#transcript {
  font-size: 26px;
  word-wrap: break-word;
  overflow: hidden;
  direction: rtl;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 
#transcript::after {
  position: relative;
  left: 0px;
  content: "...";
  word-wrap: break-word;
  overflow: hidden;
  direction: rtl;
  white-space: nowrap;
} */

#transcript-text {
  text-align: left;
  width: 75%;
  margin-left: 2%;
  word-wrap: break-word;
  overflow: hidden;
  direction: rtl;
  white-space: nowrap;
  position: relative;
  left: 0px;

  /* content: "..."; */
  /* content: "..."; */
}

#transcript-header {
  display: flex;
  font-size: 26px;
}

.invisible {
  /* display: none; */
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.5s ease-in;
  overflow: hidden;
  /* height: 0px;
  transition: height 2s ease-out; */
}

/* .visible {
  display: block;
  height: 237px;
  transition: height 2s ease-in-out;
} */

.settingsComponent {
  margin: 10px;
  border: 1px solid var(--twitter-blue);
  border-radius: 11px;
  width: 56%;
  padding: 29px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 45px;
  background-color: white;
  display: none;
}

.drawer {
  border: 1px solid var(--twitter-blue);
  border-radius: 11px;
  background-color: white;
  margin: 10px;
  padding: 29px;
  /* display: block; */
  transition: 0.5s ease-in;
  overflow: hidden;
}

#doneButton {
  margin-top: 15px;
}

.voiceDiv {
  display: inline-grid;
}

.speechComponent {
  margin-top: 12px;
}

.App {
  text-align: center;
  font-family: var(--twitter-font);
  background-color: var(--twitter-light-extra-extra-light-gray);
}

body {
  background-color: var(--twitter-light-extra-extra-light-gray);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  border-bottom: 1px solid var(--twitter-light-extra-light-gray);
  padding-bottom: 20px;
  /* position: fixed; Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* background-color: var(--twitter-light-extra-light-gray); */
  opacity: 1;
}

div.auth-container {
  height: 100vh;
}

h1.nav {
  display: inline-block;
}

button.logout {
  font-weight: 700;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

button.modeButton {
  font-size: 0.7em;
  background-color: var(--twitter-blue);
  margin: 5px;
}

.fas {
  margin-right: 5px;
}

.individualTweet {
  width: 30% !important;
  /* display: contents; */
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  transition: 1s;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* @keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.animateOut{
  animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}
.animateIn{
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
} */

.tweetComponent {
  /* width: 100% !important; */
  width: 90%;
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-start;
  flex-direction: row;
  /* max-width: fit-content; */
  /* margin-top: 81px; Add a top margin to avoid content overlay */
  /* transition: 1s; */
}

h1 {
  color: var(--twitter-blue);
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: list-item;
  text-align: left;
  list-style-type: none;
}
li:before {
  content: "✓";
  margin-left: -20px;
  margin-right: 10px;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */ /*! what does this line do? can we get rid of it? it causes weird popping in and out*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--twitter-dark-gray);
}

.App-link {
  color: #61dafb;
}

.player.focus,
.player:focus,
.player:hover {
  color: var(--twitter-dark-gray);
  text-decoration: none;
}
@media only screen and (max-width: 980px) {
  .tweetComponent {
    width: 980px;
    overflow-y: auto;
  }
}
@media only screen and (max-width: 540px) {
  h1 {
    font-size: 1.4em;
  }

  .btn {
    font-size: 0.5em;
  }

  .player {
    background-color: white;
    color: var(--twitter-blue);
    border: 1px solid var(--twitter-blue);
    font-size: 1em;
  }
}

@media only screen and (min-width: 540px) {
  /* .tweetComponent {
    width: 90%;
  } */

  div[twdiv="yes"] {
    width: 100% !important;
    text-align: -webkit-center;
  }

  .twitter-tweet {
    width: 100% !important;
  }
}
