:root {
  --twitter-blue: #1DA1F2;
  --twitter-black: #14171A;
  --twitter-dark-gray: #657786;
  --twitter-light-light-gray: #AAB8C2;
  --twitter-light-extra-light-gray: #E1E8ED;
  --twitter-light-extra-extra-light-gray: #F5F8FA;
  --twitter-white: #FFFFFF;
  --twitter-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.player {
  background-color: white;
  color: var(--twitter-blue);;
  border: 1px solid var(--twitter-blue);
}

.settingsComponent {
  margin: 10px;
  border: 1px solid var(--twitter-blue);
  border-radius: 11px;
  width: 56%;
  padding: 29px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 60px;
  background-color: white;
}

.speechComponent {
  margin-top: 12px;
}

.App {
  text-align: center;
  font-family: var(--twitter-font);
  background-color: var(--twitter-light-extra-extra-light-gray)
}

body {
  background-color: var(--twitter-light-extra-extra-light-gray)
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  border-bottom: 1px solid var(--twitter-light-extra-light-gray);
  padding-bottom: 20px;
  /* position: fixed; Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* background-color: var(--twitter-light-extra-light-gray); */
  opacity: 1;

}

div.auth-container {
  height: 100vh;
}

h1.nav {
  display: inline-block;
}

button.logout {
  font-weight: 700;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.individualTweet {
  width: 100% !important;
  /* display: contents; */
}

.tweetComponent {
  width: 100% !important;
  display: flex;
  justify-content:center;
  flex-direction: column;
  max-width: fit-content;
  /* margin-top: 81px; Add a top margin to avoid content overlay */
}



h1 {
  color: var(--twitter-blue);
}

li {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: list-item;
  text-align: left;
  list-style-type: none;
}
li:before { content: '✓'; margin-left: -20px; margin-right: 10px; } 


.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */ /*! what does this line do? can we get rid of it? it causes weird popping in and out*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--twitter-dark-gray);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
